<div class="container">
  <div class="outer-frame">
    <div class="inner-box-left">
      <form [formGroup]="profilePicForm">
        <div class="profile-pic">
          <img
            class="article-image"
            src="../../assets/emptyProfPic.png"
            alt="profile pic"
          />
        </div>
        <div class="file-upload-container">
          <label for="file-upload" class="custom-file-upload"
            ><i class="fa fa-cloud-upload"></i> Edit Profile Pic</label
          >
          <input
            id="file-upload"
            type="file"
            placeholder="Edit Profile Pic"
            accept=".jpg, .png, .jpeg"
          />
        </div>
      </form>
      <div class="nav-separator">
        <div style="text-align: center">
          <a routerLink="/{{ username }}/feed">
            <button class="button-card button-glow">Feed</button>
          </a>
        </div>
        <div style="text-align: center">
          <a routerLink="/profile/{{ username }}">
            <button class="button-card button-glow">Profile</button>
          </a>
        </div>
      </div>
    </div>
    <div class="inner-box-right">
      <div style="text-align: center">
        <h2>Edit Profile</h2>
        <hr />
      </div>
      <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
          <div class="label-row">
            <div class="label">Username:</div>
            <input placeholder="Username" formControlName="username" />
          </div>
          <div class="label-row">
            <div class="label">First Name:</div>
            <input placeholder="First Name" formControlName="firstName" />
          </div>
          <div class="label-row">
            <div class="label">Last Name:</div>
            <input placeholder="Last Name" formControlName="lastName" />
          </div>
          <div class="label-row">
            <div class="label">Phone Number:</div>
            <input placeholder="Phone Number:" formControlName="phoneNumber" />
          </div>
          <div class="label-row">
            <div class="label">Bio:</div>
            <textarea
              placeholder="Bio"
              rows="3"
              cols="25"
              maxlength="150"
              formControlName="bio"
            ></textarea>
            <button class="submit-button" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
