<div class="comment-container">
  <div class="comment-inner">
    <div class="close button-glow" (click)="toggleComments()">&times;</div>
    <div class="comment-scroll">
      <div *ngFor="let x of comments">
        <div class="single-comment-container">
          <div class="user-container">
            <div class="profile-pic">
              <img [src]="defaultImg" class="commentImg" />
            </div>
            <p class="username">{{ x.commenterName }}</p>
          </div>
          <div class="comment-text">
            {{ x.textContent }}
          </div>
          <br />
        </div>
      </div>
    </div>
    <form class="form-group" [formGroup]="commentForm">
      <input
        autocomplete="off"
        placeholder="Add a comment..."
        class="addCommentBox"
        id="comment-input"
        formControlName="textContent"
        type="text"
      />
      <button
        class="post-button button-glow"
        type="Submit"
        (click)="writeComment()"
      >
        Post
      </button>
    </form>
  </div>
</div>
