.login-form {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  height: 100vh;
  color: white;
  font-family: "Heebo", sans-serif;
}

.header {
  font-size: 50px;
  line-height: 0.1em;
}

mat-form-field {
  width: 100%;
  font-family: "Heebo", sans-serif;
}
