<div class="login-form">
    <h1 class="header">BeatReal</h1>
    <h2 class="login-title"> Login</h2>
    <div style="text-align:center;">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="formField">
                <mat-form-field style="text-align:center;">
                    <label> Username </label>
                    <input type="text" class="mdc-text-field__input" placeholder="Username" name="username" required>
                </mat-form-field>
                <mat-form-field style="text-align:center;">
                    <label> Password </label>
                    <input type="text" class="mdc-text-field__input" placeholder="Password" name="password" required>
                </mat-form-field>
            </div>
            <pre> </pre>
            <button mat-raised-button> <a [routerLink]="['../home']"> Login </a></button>
            <pre> </pre>
            <button mat-raised-button> <a [routerLink]="['../register']">Create an Account </a> </button>
        </form>
    </div>
</div>