.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    min-height: 100%;
    max-height: 100%;
    color: white;
    font-family: 'Heebo', sans-serif;
}

.header {
    font-size: 50px;
    line-height:0.1em;
}


mat-form-field {
    width: 100%; 
    font-family: 'Heebo', sans-serif;
}
