<div class="post">
  <div class="post-header">
    <img
      class="profile-pic"
      src="../../assets/emptyProfPic.png"
      alt="ProfilePic"
    />
    <span class="username">Username</span>
  </div>
  <iframe
    style="border-radius: 12px"
    src="https://open.spotify.com/embed/track/6gi6y1xwmVszDWkUqab1qw?utm_source=generator"
    frameBorder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
  ></iframe>
  <div class="footer">
    <button class="comments-button">View X Comments</button>
    <ul class="comments-list" [ngStyle]="{ display: 'block' }">
      <li>awesome!</li>
      <li>cool!</li>
    </ul>
  </div>
</div>
