<div class="post">
  <div class="header">
    <div class="profile-pic"><img src="" alt="ProfilePic" /></div>
    <span class="username">Username</span>
    <button id="spotifyTest" (click)="getSong()">Press Me for Current Song</button>
  </div>
  <iframe
    style="border-radius: 12px"
    src="https://open.spotify.com/embed/track/6gi6y1xwmVszDWkUqab1qw?utm_source=generator"
    frameBorder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
  ></iframe>
  <div class="footer">
    <button class="comments-button" (click)="toggleComments()">
      View X Comments
    </button>
    <div *ngIf="viewCommentsParent">
      <app-comments (viewCommentsEvent)="toggleComments()"></app-comments>
    </div>
  </div>
</div>
