<div class="post">
  <div class="header">
    <div class="user-container">
      <div class="profile-pic">
        <img src="./assets/emptyProfPic.png" alt="ProfilePic" />
      </div>
      <span class="username">Username</span>
    </div>
  </div>
  <iframe
    style="border-radius: 12px"
    id="postIframe"
    src="https://open.spotify.com/embed/track/6gi6y1xwmVszDWkUqab1qw?utm_source=generator"
    frameBorder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
  ></iframe>
  <div class="footer">
    <div
      class="heart-button"
      [ngClass]="{ liked: liked }"
      (click)="handleLike()"
    >
      <div class="shadow-puppet"></div>
    </div>
    <button class="comments-button text-glow" (click)="toggleComments()">
      View X Comments
    </button>
    <div *ngIf="viewCommentsParent">
      <app-comments (viewCommentsEvent)="toggleComments()"></app-comments>
    </div>
  </div>
</div>
