nav {
  color: white;
  display: flex;
  justify-content: center;
  gap: 35%;
  width: 100%;
  padding: 1rem 10%;
}

.nav-card {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s;
  background-color: black;
}

.nav-card:hover {
  box-shadow: 0 0 15px white;
  transform: scale(1.1);
}

.nav-card.selected {
  background-color: white;
  color: black;
}

.nav-element {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  color: inherit;
}
