#profile {
  height: 100%;
  color: white;
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
}

.banner {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  /* pointer-events: none; */
  user-select: none;
  flex-shrink: 1;
}

.profile-container {
  z-index: 100;
  padding-bottom: 3rem;
}

.profile-section {
  padding: 0 20%;
}

.profile-content {
  margin-top: 2rem;
  /* background-color: white; */
  color: white;
  border-radius: 10px;
  padding: 2rem 5%;
}

.profile-content-top {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.profile-pic {
  width: 15vw;
  height: 15vw;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid black;
  background-color: white;
  transition: all 0.3s;
}

.full-name {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: 4vw;
}

.username {
  font-size: 3vw;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.bio {
  margin: 0 5%;
  padding-bottom: 1rem;
}

.add-friend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0;
  margin: 0 4%;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

.add-friend-content {
  font-size: 24px;
  font-weight: 900;
}

.recently-added {
  font-size: 16px;
  font-weight: 900;
}

.memories {
  width: 100;
}

.friends-list {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.friend-name {
  cursor: pointer;
}

section {
  padding: 0 10%;
}

iframe {
  width: 80%;
  height: 80px;
  margin: 1rem auto;
  display: block;
}

.outer-fa {
  margin-left: auto;
}

.fa-gear {
  position: relative;
  font-size: 30px;
  border: none;
  background-color: transparent;
  color: white;
}

.button-card {
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  background-color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  color: inherit;
  transition: all 0.3s;
}

.button-card:hover {
  box-shadow: 0 0 15px white;
  transform: scale(1.1);
}
