<div id="profile">
  <div class="profile-container">
    <section class="banner">
      <h1 class="header text-glow">BeatReal</h1>
    </section>
    <app-navbar [route]="route"></app-navbar>
    <section class="feed-list"></section>
    <section class="profile-section">
      <div class="profile-content">
        <div class="profile-content-top">
          <div class="profile-pic">
            <img src="./assets/emptyProfPic.png" alt="ProfilePic" />
          </div>
          <div class="bio-block">
            <h1 class="full-name">{{ user.firstName }} {{ user.lastName }}</h1>
            <p class="username">@{{ user.username }}</p>
            <p class="bio">{{ user.bio }}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
