#profile {
  background-color: black;
  color: white;
}

section {
  padding: 0 10%;
}

.banner {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

.mdl-layout__content {
  background-color: black;
}

.site-content {
  margin: 1em auto;
  min-height: 580px;
}

.page-content {
  padding-bottom: 2em;
}

.site-max-width {
  max-width: 900px;
  margin: auto;
}

.site-copy {
  max-width: 700px;
}

img.article-image {
  width: 100%;
  height: auto;
}

.demo-card-image.mdl-card {
  width: 192px;
  height: 192px;
}

.memory1 {
  background: url("../../assets/emptyProfPic.png") center/cover;
}

.memory2 {
  background: url("../../assets/emptyProfPic.png") center/cover;
}

.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: black;
}

.demo-card-image__filename {
  color: #fff;
  font-family: "Heebo", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
