<div id="profile">
  <div class="profile-container">
    <section class="banner">
      <h1 class="header text-glow">BeatReal</h1>
    </section>
    <app-navbar [route]="route"></app-navbar>
    <section class="feed-list"></section>
    <section class="profile-section">
      <div class="profile-content">
        <div class="profile-content-top">
          <div class="profile-pic">
            <img src="./assets/emptyProfPic.png" alt="ProfilePic" />
          </div>
          <div class="bio-block">
            <h1 class="full-name">{{ user.firstName }} {{ user.lastName }}</h1>
            <p class="username">@{{ username }}</p>
          </div>
          <a routerLink="/profile/{{ username }}/edit" class="outer-fa">
            <button class="fa fa-gear text-glow"></button>
          </a>
        </div>
        <p class="bio">{{ user.bio }}</p>
        <div class="add-friend">
          <span class="add-friend-content">Add Friends</span>
          <form [formGroup]="addFriendForm" (ngSubmit)="addFriend()">
            <input
              type="text"
              class="friend-input"
              formControlName="friendName"
            />
            <button type="submit" class="button-card">Submit</button>
          </form>
          <span class="recently-added"
            >Recently Added Friends (Click to Unfriend)</span
          >
          <div class="friends-list">
            <div *ngFor="let name of user.friendNames">
              <span class="friend-name" (click)="removeFriend(name)">{{
                name
              }}</span>
            </div>
          </div>
        </div>

        <div class="memories">
          <div *ngFor="let reel of user.reels">
            <h2 class="memory-date">
              {{
                reel.date.toLocaleDateString("en-us", {
                  weekday: "long",
                  year: "numeric",
                  month: "short",
                  day: "numeric"
                })
              }}
            </h2>
            <iframe
              style="border-radius: 12px"
              [src]="getSpotify(reel.songId)"
              frameBorder="0"
              allowfullscreen=""
              allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
              loading="lazy"
            ></iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
